<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nunes Sports</title>
    <script src="/script.js"></script>
</head>

<body>

    <div>
        <form action="/produto" method="post">
            <div>
                <label for="id-reg">ID</label>
                <input type="text" name="id" id="id-reg" value="">
            </div>
            <div>
                <label for="nome-reg">Nome</label>
                <input type="text" name="nome" id="nome-reg" value="">
            </div>
            <div>
                <label for="descricao-reg">Descirção</label>
                <input type="text" name="descricao" id="descricao-reg" value="">
            </div>
            <div>
                <label for="preco-reg">Preço</label>
                <input type="text" name="preco" id="preco-reg" value="">
            </div>

            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>

        </form>
    </div>
    
    <div>
        <table>
            <tr>
                <th>id</th><th>Nome</th><th>Descirção</th><th>Preço</th><th>Ações</th>
            </tr>
            <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                    <form action="/produto" method="get">
                        <td><input type="text" name="id" value="<%= data[i].id %>"</td>
                        <td><%= data[i].nome %></td>
                        <td><%= data[i].descricao %></td>
                        <td><%= data[i].preco %></td>
                        <td><button type="submit">Editar</button></td>
                        <td><button type="submit">Excluir</button></td>
                    </form>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>